
<div class="nano" style="position: fixed;left:1530px; height: 400px;width: 60px;text-align:center;">
<div class="nano-content">
<%
var count = 1;
for (var i=0; items!=null && i<items.length; i++) {
	if (!(items[i].type == 'imageOnly' || items[i].type == 'textOnly')) {
				   
%>
<div>
	<span class="badge nav-question hvr-grow" title="Goto Question <%=count%>" itemsn="<%=items[i].itemsn%>">Q <%=count%></span>
</div>
<%
	count++
 	}
}
%>
</div>
</div>