
<div class="nano" style="position: fixed;left:1530px; height: 400px;width: 50px;">
<div class="nano-content">
<%
for (var i=0; items!=null && i<items.length; i++) {
%>
<div>
	<span class="badge" itemsn="<%=items[i].itemsn%>">Q <%=(i+1)%></span>
</div>
<%
}
%>
</div>
</div>