					
					<li itemsn="<%=itemsn%>" class="question">
						<div class="question-box">
						<div class="form-group">
							<label for="question"><%=question%></label>
							<%
							for (var i=0; parts!=null &&  i<parts.length; i++) {
							%>
							<div class="text">
								<textarea class="form-control" id="<%=parts[i].partsn%>" partsn="<%=parts[i].partsn%>" row="5"></textarea> 
							</div>
							<%
							} // end for
							%>
						</div>
						</div>
						

						
					</li>