						<div class="hide question-editbar btn-group">
							<button class="btn btn-primary btn-sm action-edit-item">
								<i class="fa fa-pencil-square-o"></i> Edit
							</button>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<button class="btn btn-default btn-sm action-duplicate-item">
								<i class="fa fa-files-o"></i> Duplicate
							</button>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<button class="btn btn-default btn-sm action-remove-item" itemsn="<%=itemsn%>>
								<i class="fa fa-files-o"></i> Remove
							</button>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<button class="btn btn-default btn-sm action-move-item"">
								<i class="fa fa-arrows"></i> Drag
							</button>
						</div>