					
					<li itemsn="<%=itemsn%>" class="question" style="list-style-type: none">
						<div class="question-box">
							<div class="text-only" style="min-height:100px;">
							<%
							if (parts.length == 1) {
							%>
								<%=parts[0].value%>
							<%
							} // end if
							%>
							</div>
						</div>
					</li>