body {
    color: #666;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif, "Intel Clear";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    background-color: #f0f0f0;
}

.row {
      -webkit-border-radius: 4px !important;
         -moz-border-radius: 4px !important;
              border-radius: 4px !important;
      -webkit-border-top: 4px !important;
         -moz-border-top: 4px !important;
              border-top: 4px !important;
      -webkit-border-bottom: 4px !important;
         -moz-border-bottom: 4px !important;
              border-bottom: 4px !important;
}

.question-box {
	background-color: #fff; 
	position: relative;
	padding:10px;
	margin-bottom:15px;
}
.question-editbar {
	margin-top: -30px;
	margin-left:330px; 
	position: absolute;
}

.padding-bottom {
	padding-bottom: 5px;
}
.padding-top {
	padding-top: 5px;
}

.padding-left {
	padding-left: 5px;
}
.padding-right {
	padding-right: -5px;
}
.margin-bottom {
	margin-bottom: 5px;
}
.padding-left-zero {
	padding-left:0;
}

.padding-right-zero {
	padding-right:0;
}
.padding-zero {
	padding:0;
}

.padding {
	padding:10px;
}

.margin-top {
	margin-top: 10px;
}
.margin-right {
	margin-right: 10px;
}

.border-dashed {
	border: 1px dashed orange;
}

.print-json {outline: 1px solid #ccc; padding: 5px; margin: 5px; height: 100%; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.tab-content {
	height:500px !important; 
	overflow: hidden; 
}
.tab-pane {
	padding: 15px;	
	
}

.navbar-center
{
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
}








